@import "~bootstrap/dist/css/bootstrap.css";
.logo {
    width: 60px;
    height: 68px;
    align-items: center;
    cursor: pointer;
}

.navbar {
    align-content: center !important;
}

.nav-link {
    color: #72D145 !important;
    font-family: Rockwell, fantasy !important;
    ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-brand {
    font-family: Rockwell, fantasy !important;
    float: right !important;
    align-content: flex-end !important;
    text-transform: uppercase;
}

.nav-item {
    padding: 10px !important;
}

a:hover {
    color: black !important;
}

.justify-content-start {
    float: left !important;
    justify-content: left !important;
    justify-self: left !important;
}


/*------------------------------------*/

.button1 {
    background-color: #72D145 !important;
    border-radius: 10px;
}

.white {
    color: #ffffff !important;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.green {
    color: #72D145 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 36px;
}

.container-fluid {
    padding: 15%;
}